<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/30dc2d0760.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/stylesLogin.css">

<body>
    <header>
        <div class="top-header">
            <div class= "logo">
                <a href="/"><img class="imagen-logo" src="./images/logo.png" alt="Logo de pagina"></a>
            </div>
            <div class="form-busqueda">
                <form action="#" method="get">
                    <input type="text" placeholder="Buscar productos">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="iconosHeader">
            <div class="iconH">
                <a href="/carrito">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
            <div class="iconH">
                <a href="#">
                    <i class="fas fa-user-circle"></i> 
                </a>
            </div>
            <div class="iconH">
                <i class="fas fa-moon"></i>  
                <a href="#">
                    <i class="fas fa-toggle-on"></i>
                </a>
            </div>
            </div>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            </div>
            <div class="button-header">
            <nav>
                <ul>
                    <li><a href="#">Novedades</a></li>
                    <li><a href="#">Oficina</a></li>
                    <li><a href="#">Universitario</a></li>
                    <li><a href="#">Escolares</a></li>
                    <li><a href="#">Artistica</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="formLogin">
            <div class="saludo">
                    <a href="#">
                        <i class="fas fa-user-circle"></i> 
                    </a>
                    <h2>¡Bienvenido/a!</h2>
            </div>
            
            
            <div>
            <form action="/" method="get">
                
                <div>
                    <h3> <label for="usuario">Usuario</label> </h3>
                    <input type="email" name="usuario" id="usuario" placeholder="Ingrese su email" required>
                </div>

                <div>
                    <h3> <label for="contraseña">Contraseña</label> </h3>
                    <input type="password" name="contraseña" id="contraseña" placeholder="Ingrese su contraseña" required>
                </div>

                <div class="texto">
                    <label for="recordarme">
                        <input type="checkbox" name="recordarme" id="recordarme" selected>
                            Recordarme</label>
                </div>
                
                <div class="send"> <button type="submit" class="button">Ingresar</button>  
                </div>

                <div class="contraseña">
                <a href="#">¿Olvidaste tu contraseña? </a>
                </div>
                <div class="ingresoA">
                <a  href="#">Ingresá con google <i class="fab fa-google"></i></a>
                </div>
                <div class="ingresoB">
                <a  href="#">Ingresá con Facebook <i class="fab fa-facebook"></i></a>
                </div>

            </form>
        </div>

        </section>
    </main>

    <footer>
        <div class="footer-contenedor">
            <div class="seguinos">
                <h4> Seguinos</h4>
                <i class="fab fa-facebook" id="face"></i>
                <i class="fab fa-instagram" id="insta"></i>
                <i class="fab fa-twitter" id="twitter"></i>
            </div>
            <div class="suscribe">
                <h4> Suscribite</h4>
                <input type="email" placeholder="Ingresa tu e-mail" class="enemy"> 
                <button class="enemy"> Suscribirme</button>
            </div>
            <div class="mediospago">
                <h4>Medios de pago</h4>
                <div class="imglogos">
                <img src="/images/amazon.png" alt="" class="imagen-foot">
                <img src="/images/mcard.png" alt="" class="imagen-foot">
                <img src="/images/visa.png" alt="" class="imagen-foot">
                <img src="/images/paypal.png" alt="" class="imagen-foot">
            </div>
            </div>
            </div>
    </footer>
</body>
</html>