* {
    margin: 0px; /*centra todo*/
    padding: 0px;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    background-color: #CEE5D0;
    color: #536FFF;
}

/*----------------------HEADER----------------------*/

/*logo - busqueda - iconos*/
div.top-header
{
    background-color: #FF7070;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.logo
{
    display: flex;
    width: 15%;
}

.imagen-logo
{
    width: 45px;
}

.imagen-logo, .form-busqueda, .cart, .login, .darkmode
{
    align-self: center;
    
}

.cart, .login, .darkmode{
    width: 15%;
}

.top-header div.form-busqueda {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.form-busqueda form{
    width: 100%;
    justify-content: space-around;
    padding: 5px;
}

.form-busqueda input{
    width: 80%;
    border:0;
    background-color: #F3F0D7;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
}

.form-busqueda button{
    width: 10%;
    border:0;
    background-color: #F3F0D7;
    border-radius: 20px;
    padding: 5px;
}

/*---------barra de navegacion--------*/

div.button-header
{
    display: none;
    background-color: #FED2AA;
}

div.button-header nav ul
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
}
.button-header ul li{
    list-style-type: none;
}

.button-header ul li a{
    text-decoration: none;
    color: #FF7070;
}

.iconosHeader {
    display: none;
    align-items: center;
    width: 22%;
    justify-content: space-around;
    
}

.iconH i {
    color: #000;
    font-size: 20px;
}

div.burger-menu{
    display: flex;
    font-size: 20px;
    align-items: center;
    padding: 6px;
    margin: 5px 2px;
    color: #FF7070;
    background-color: #FED2AA;
    border-radius: 5px;
}

/*-------------------carrusel-------------*/
.carrusel-caja{
    display: none;
}
/*----------------------MAIN----------------------*/
main section article img
{
    width: 25%;
}

main
{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

/*----------------------FILTRADO----------------------*/

.filtrado-contenedor
{
    width: 25%;
    padding: 10px;
    display: none;
}

.filtrado
{
    padding: 20px;
    background-color: #F3F0D7;
    border-radius: 10px;
}

.filtrado div {
    padding-top: 10px;
}

.filtrado div label{
    padding-bottom: 10px;
}

.filtrado div select{
    margin: 5px;
    width: 100%;
    border:0;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    color:#536FFF;
}

.filtrado div select option{
    border:0;
    padding: 5px;
    border-radius: 10px;
}

/*----------------productos------------*/

.productos
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 12px;
}

.productos h3{
    padding: 10px;
}

/*----------------destacados------------*/

.destacados
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.destacados article{
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    background-color: #F3F0D7;
    border-radius: 10px;
    transition: all 0.3s;
}

.destacados article:hover{
    box-shadow: -4px 4px 2px #B0B8FF;
    width:100%;
}

.destacados img{
    width: 100%;
}

.main-article h4{
    
    text-align: left;
}

.main-article p{
    margin: 5px;
    font-size: 15px;
}

.main-article p{
    margin: 5px;
    font-size: 15px;
} 

.contenedor-precio p.precio{
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.contenedor-precio{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.contenedor-precio button{
    border: 0;
    border-radius: 15px;
    background-color: #FF7070;
    color: #F3F0D7;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
}
/*----------------ofertas------------*/

.ofertas
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.ofertas img{
    width: 100%;
}

.ofertas article{
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    background-color: #F3F0D7;
    border-radius: 10px;
    transition: all 0.3s;
}

.ofertas article:hover{
    box-shadow: -4px 4px 2px #B0B8FF;
    width:100%;
}

/* -----------FOOTER ----------*/


.footer-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ; /* space-around dn tablet*/
    width: 100%; /*sacar en tablet*/
    padding: 0px; /* en tablet 20px 0px;*/
    margin-top: 0px;
    background-color: #FF7070;
    flex-direction: column;/*row en tablet*/
    align-items: center;
}

.imglogos {
    width: 50%;
    margin: auto;
    
}

/*-----------redes ----------*/

.seguinos {
    font-size: 22px;
    width: 100%;
    text-align: center;
}

.seguinos h4{
    padding: 10px;
    font-size: 20px;
}

.seguinos i{
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    width: 20%;
}

#face
{
color: #F3F0D7;
}

#twitter
{
color:#F3F0D7;
}

#insta
{
color: #F3F0D7;
} 

/*-----------medios de pago ----------*/
.mediospago {
    /* display: flex;*/
    width: 100%; /*cambiar a 33% en tablet*/
    font-size: 20px;
    text-align: center;
}

.imagen-foot {
    width: 22%;
}

.imglogos {
    width: 50%;
}

.mediospago h4{
    padding: 10px;
    font-size: 20px;
}

.mediospago i{
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 30px;
} 

/*-----------suscribite ----------*/

.suscribe{
    width: 70%; /* cambiar a 33%*/
    font-size: 22px;
    padding: 10px;
    background-color: #F3F0D7;
    border-radius: 10px;
    box-shadow: -4px 4px 2px #B0B8FF;
    text-align: center;
}

.enemy{
    padding: 6px;
}
input.enemy{
    width: 90%;
    padding: 6px;
    border: 0;
    border-radius: 10px;
    box-shadow: -4px 4px 2px #B0B8FF;
    font-size: 90%; /*cambiar a 16px en tablet*/
    margin-bottom: 10px;
}

button.enemy{
    font-size: 16px;
    padding: 6px;
    color: #F3F0D7;
    background-color:#FF7070;
    border: 0;
    border-radius: 10px;
    box-shadow: -4px 4px 2px #B0B8FF;
}

.suscribe h4{
    padding: 10px;
    font-size: 20px;
    width: 33%;
} 

/*--------adaptaciones------------*/

@media(min-width: 361px) {

    .form-busqueda button{
        width: 8%;
    }

    .iconosHeader {
        display: flex;
    }

    div.button-header{
        display: block;
    } 

    .productos{
        margin: 3px auto;
    }

    .productos{
        flex-wrap: wrap;
    }

    .destacados{
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .ofertas{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .destacados article{
        width: 45%;
    }

    .ofertas article{
        width: 45%;
    }

    .destacados article:hover{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:47%;
    }

    .ofertas article:hover{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:47%;
    }

    div.burger-menu{
        display: none;
    }

    .footer-contenedor {
        
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px 0px; 
        flex-direction: row;
        width: 100%;
    }

    .seguinos , .mediospago , .suscribe{
        
        width: 33%;
    }

    input.enemy{
        font-size: 16px;
    }

    #iconCuenta
    {
        position: relative;
        cursor: pointer;
    }
    
    .login_desplegable_header
    {
        display: block;
        text-align: center;
        margin-bottom: 14px;
    }
    
    
    
    .login_desplegable {
        position: absolute;
        left: -34px;
        box-sizing: border-box;
        transform: translateX(-10%);
        opacity: 0;
        width: 107px;
        background-color: white;
        padding: 5px;
        z-index: -2;
        border-top: 2px solid #2C6460;
        box-shadow: 0 3px 6px #565656;
        transition: all 1s;
    }
    
    .login_desplegable_login
    {
        display:block;
        text-align: center;
    }
    
    .login_desplegable_signup
    {
        display:block;
        text-align: center;  
    }
    
    .inputCheck /*pa borrar ese feo checkbox*/
    {
        position: absolute;
        display: none;
    }
    
    .inputCheck:checked + .login_desplegable
    {
    
        opacity: 1;
        z-index: 10;
    }
    
}

@media (min-width:769px){

    .form-busqueda button{
        width: 5%;
    }
    .filtrado-contenedor{
        width: 25%;
        padding: 10px;
        display: block;
        margin: 5px;
    }

    .productos{
        width: 70%;
    }

    .destacados article{
        margin: 5px;
        width: 22%;
    }

    .ofertas article{
        margin: 5px;
        width: 22%;
    }

    .destacados article:hover{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:25%;
    }

    .ofertas article:hover{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:25%;
    }

    /*
    .carrusel-caja{
        display: flex;
        width: 100%;
    }   

    .carrusel-caja img{
    width:100%;
    }

    */

    .slider
    {
        width: 100%;
        overflow: hidden;
    
    }
    
    .slider ul
    {
        padding: 0;
        display: flex;
        width: 400%;
        animation: cambiox 13s infinite alternate;
    
    }
    
    .slider li
    {
        width: 100%;
        list-style: none;
    }
    
    .slider img
    {
        width: 100%;
    }
    
    @keyframes cambiox
    {
        0% {margin-left:0;}
        20% {margin-left:0;}
        /*se tarda 1 seg en una imagen a otra 20x0.05*/
        25% {margin-left:-100%;}
        45% {margin-left:-100%;}
    
        50% {margin-left:-200%;}
        70% {margin-left:-200%;}
    
        75% {margin-left:-300%;}
        100% {margin-left:-300%;}
    }

    .login_desplegable {
        position: absolute;
        left: -60px;
        box-sizing: border-box;
        transform: translateX(-10%);
        opacity: 0;
        width: 210px;
        background-color: white;
        padding: 5px;
        z-index: -2;
        border-top: 2px solid #2C6460;
        box-shadow: 0 3px 6px #565656;
        transition: all 1s;
    }
}
